
<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages renderMode="div" />

	<f:if condition="{territories -> f:count()}">
		<f:then>
			<noscript>
				<p class="bg-warning text-warning">
					<i class="fa fa-warning fa-3x pull-left"></i> <f:translate id="output.warning.js_disabled" />
				</p>
			</noscript>
			<div class="row">
				<f:form actionUri="{f:uri.page(pageUid: pid)}">

					<div class="form-group col-md-4">
						<label for="t3locations-select-territory"><f:translate id="tx_t3locations_domain_model_territory" /></label>
						<f:form.select name="territory" id="t3locations-select-territory" class="form-control" options="{territories}" optionLabelField="title" prependOptionLabel="{f:translate(id: 'output.select_territory')}" prependOptionValue="" value="{territory}" additionalAttributes="{onchange: 'this.form.submit()'}" />
					</div>

					<div class="form-group col-md-4">
						<label for="t3locations-select-country"><f:translate id="tx_t3locations_domain_model_location.country" /></label>
						<f:if condition="{regions -> f:count()}">
							<f:then><f:form.select name="region" id="t3locations-select-country" class="form-control" options="{regions}" optionLabelField="title" sortByOptionLabel="1" prependOptionLabel="{f:translate(id: 'output.select_country')}" prependOptionValue="0" value="{region}" additionalAttributes="{onchange: 'this.form.submit()'}" /></f:then>
							<f:else><f:form.select name="region" id="t3locations-select-country" class="form-control" options="{0: '{f:translate(id: \'output.select_country\')}'}" /></f:else>
						</f:if>
					</div>
					<noscript>
						<div class="form-group col-md-2">
							<label for="t3locations-form-submit" class="hidden-xs hidden-sm">&nbsp;</label>
							<f:form.button type="submit" id="t3locations-form-submit" class="form-control btn btn-default"><i class="fa fa-refresh"></i> <f:translate id="button_labels.update" /></f:form.button>
						</div>
					</noscript>
				</f:form>
			</div>

			<f:if condition="{locations -> f:count()}">
				<div class="row">
				<f:for each="{locations}" as="location" iteration="iterator">
						<div class="col-md-{f:if(condition: '{iterator.total} > 1', then: 6, else: 12)} t3locations-vcard">
							<address class="vcard"><f:render partial="Location/Properties" arguments="{location : location}" /></address>
						</div>
					<f:if condition="{iterator.isLast -> f:s3b0.negate()}">
						<f:if condition="{iterator.index} % 2"></div><div class="row"></f:if>
					</f:if>
				</f:for>
				</div>
				<f:if condition="{addMapCanvas}">
					<div class="row">
						<div class="col-md-12"><div id="t3locations-map-canvas"></div></div>
					</div>
					<script type="text/javascript" src="{f:uri.resource(path:'JavaScripts/gmaps.min.js')}"></script>
				</f:if>
			</f:if>
		</f:then>
		<f:else>
			<p class="bg-danger text-danger"><f:translate id="output.warning.no_territories" /></p>
		</f:else>
	</f:if>

</f:section>