<f:layout name="Default" />

<f:section name="main">
	<h2><f:translate id="button_labels.edit" /> "{region.title}"</h2>

	<f:flashMessages renderMode="div" />

	<f:render partial="FormErrors" arguments="{object: Region}" />

	<f:form action="update" enctype="multipart/form-data" name="region" object="{region}" >
		<f:render partial="Region/FormFields" arguments="{region: region, countries: countries, territories: territories}" />
		<f:render partial="Admin/ModifyFooter" />
	</f:form>
</f:section>