<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages renderMode="div" />

	<table class="table table-collapsed striped-table table-hover">
		<f:for each="{locationTypes}" as="locationType">
			<tr>
				<td>{locationType.title}</td>
				<f:be.security.ifHasRole role="{extSettings.admins}"><td class="text-right"><f:link.action action="delete" arguments="{locationType: locationType}" class="btn btn-xs btn-danger" additionalAttributes="{onclick: 'return confirm(\'{f:translate(id: \'LLL:EXT:lang/locallang_core.xlf:mess.delete\', arguments: \'{0: locationType.title}\')}\')'}"><i class="fa fa-trash-o fa-lg"></i> &nbsp;<f:translate id="button_labels.delete" /></f:link.action></td></f:be.security.ifHasRole>
			</tr>
		</f:for>
	</table>

	<f:render partial="Admin/ListFooter" arguments="{extSettings: extSettings}" />
</f:section>