<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages renderMode="div" />

	<table class="table table-collapsed striped-table table-hover">
		<f:for each="{locations}" as="location" iteration="iterator">
			<tr>
				<td class="{f:if(condition : '{location.hidden}', then : 'text-muted')}">
					<f:if condition="{f:s3b0.checkForExistingResource(source:'EXT:t3locations/Resources/Public/Images/FlagIcons/{location.country.flagIconName -> f:s3b0.string.convertUtf8ToAscii() -> f:s3b0.string.stripWhitespaces()}.png')}">
						<f:then>
							<f:image src="{f:uri.resource(path:'Images/FlagIcons/{location.country.flagIconName -> f:s3b0.string.convertUtf8ToAscii() -> f:s3b0.string.stripWhitespaces()}.png')}" class="t3locations-flag" alt="{location.country.isoCodeA3}" title="{location.country.title}" />
						</f:then>
						<f:else>
							<f:if condition="{f:s3b0.checkForExistingResource(source:'EXT:t3locations/Resources/Public/Images/FlagIcons/{location.country.title -> f:s3b0.string.convertUtf8ToAscii() -> f:s3b0.string.stripWhitespaces()}.png')}">
								<f:image src="{f:uri.resource(path:'Images/FlagIcons/{location.country.title -> f:s3b0.string.convertUtf8ToAscii() -> f:s3b0.string.stripWhitespaces()}.png')}" class="t3locations-flag" alt="{location.country.isoCodeA3}" title="{location.country.title}" />
							</f:if>
						</f:else>
					</f:if>
					&nbsp;<f:link.action action="show" target="_blank" arguments="{location: location}" title="{f:translate(id: 'button_labels.show')}">{f:if(condition: location.headline, then: location.headline, else: '({location.title})')}</f:link.action> <f:if condition="{location.type}"><small>[{location.type.title}]</small></f:if>
				</td>
				<td class="text-right">
					<f:link.action action="show" target="_blank" arguments="{location: location}" class="btn btn-xs btn-default"><i class="fa fa-info fa-lg"></i> &nbsp;<f:translate id="button_labels.show" /></f:link.action>
					<f:be.security.ifHasRole role="{extSettings.editors}">
						<f:link.action action="moveRecord" arguments="{location: location}" class="btn btn-xs btn-default {f:if(condition: iterator.isFirst, then: 'disabled')}"><i class="fa fa-angle-up fa-lg"></i></f:link.action>
						<f:link.action action="moveRecord" arguments="{location: location, dir: 'down'}" class="btn btn-xs btn-default {f:if(condition: iterator.isLast, then: 'disabled')}"><i class="fa fa-angle-down fa-lg"></i></f:link.action>
						<f:link.action action="edit" arguments="{location: location}" class="btn btn-xs btn-default"><i class="fa fa-pencil-square-o fa-lg"></i> &nbsp;<f:translate id="button_labels.edit" /></f:link.action>
					</f:be.security.ifHasRole>
					<f:be.security.ifHasRole role="{extSettings.admins}">
						<f:if condition="{location.hidden}">
							<f:then><f:link.action action="toggleVisibility" arguments="{location: location}" class="btn btn-xs btn-default text-success"><i class="fa fa-toggle-on fa-lg"></i> <f:translate id="LLL:EXT:lang/locallang_common.xlf:enable" /></f:link.action></f:then>
							<f:else><f:link.action action="toggleVisibility" arguments="{location: location}" class="btn btn-xs btn-default text-warning"><i class="fa fa-toggle-off fa-lg"></i> <f:translate id="LLL:EXT:lang/locallang_common.xlf:disable" /></f:link.action></f:else>
						</f:if>
						<f:link.action action="delete" arguments="{location: location}" class="btn btn-xs btn-danger" additionalAttributes="{onclick: 'return confirm(\'{f:translate(id: \'LLL:EXT:lang/locallang_core.xlf:mess.delete\', arguments: \'{0: location.headline}\')}\')'}"><i class="fa fa-trash-o fa-lg"></i> &nbsp;<f:translate id="button_labels.delete" /></f:link.action>
					</f:be.security.ifHasRole>
				</td>
			</tr>
		</f:for>
	</table>

	<f:render partial="Admin/ListFooter" arguments="{extSettings: extSettings}" />
</f:section>