<f:layout name="Default" />

<f:section name="main">

	<h2><f:translate id="button_labels.edit" /> "{location.headline}"</h2>

	<f:flashMessages renderMode="div" />

	<f:render partial="FormErrors" arguments="{object: Location}" />

	<f:form action="update" enctype="multipart/form-data" name="location" object="{location}" >
		<f:render partial="Location/FormFields" arguments="{location: location, locationTypes: locationTypes, countries: countries, states: states, regions: regions}" />
		<f:render partial="Admin/ModifyFooter" />
	</f:form>

</f:section>