<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages renderMode="div" />

	<f:if condition="{locations -> f:count()}">
		<f:then>
			<div class="row">
				<f:for each="{locations}" as="location" iteration="iterator">
					<div class="col-md-12">
						<f:render partial="Location/QuickFacts" arguments="{location : location}" />
						<f:if condition="{iterator.isLast -> f:s3b0.negate()}"> <hr /></f:if>
					</div>
				</f:for>
			</div>
		</f:then>
		<f:else>
			<div class="row"><div class="col-md-12"><p class="bg-info text-info"><i class="fa fa-info-circle fa-lg"></i> &nbsp;<f:translate id="info.no_locations" /> <a href="#" onclick="history.back()"><f:translate id="output.back_link" /></a></p></div></div>
		</f:else>
	</f:if>

</f:section>