
<label for="title">
	<f:translate key="tx_t3locations_domain_model_region.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="isoCodeA2">
	<f:translate key="tx_t3locations_domain_model_region.type" />
</label><br />
<f:form.textfield property="type" /><br />
<label for="isoCodeA2">
	<f:translate key="tx_t3locations_domain_model_region.iso_code_a2" />
</label><br />
<f:form.textfield property="isoCodeA2" /><br />
<label for="isoCodeA3">
	<f:translate key="tx_t3locations_domain_model_region.iso_code_a3" />
</label><br />
<f:form.textfield property="isoCodeA3" /><br />
<label for="flagIconName">
	<f:translate key="tx_t3locations_domain_model_region.flag_icon_name" />
</label><br />
	<f:form.textfield property="flagIconName" /><br />
<label for="verified">
	<f:translate key="tx_t3locations_domain_model_region.verified" />
</label><br />
	<f:form.checkbox property="verified" value="1" /><br />