
<table class="tx-t3locations" >
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_region.title" />
		</td>
		<td>
		{region.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_country.type" />
		</td>
		<td>
			{region.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_country.iso_code_a2" />
		</td>
		<td>
			{region.isoCodeA2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_country.iso_code_a3" />
		</td>
		<td>
			{region.isoCodeA3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_region.flag_icon_name" />
		</td>
		<td>
		{region.flagIconName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_region.verified" />
		</td>
		<td>
		{region.verified}
		</td>
	</tr>
</table>