
<label for="title">
	<f:translate key="tx_t3locations_domain_model_location.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="logo">
	<f:translate key="tx_t3locations_domain_model_location.logo" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="freetext">
	<f:translate key="tx_t3locations_domain_model_location.freetext" />
</label><br />
	<f:form.textarea property="freetext" cols="40" rows="15" /><br />
<label for="fieldToUseInSearchMask">
	<f:translate key="tx_t3locations_domain_model_location.field_to_use_in_search_mask" />
</label><br />
	<f:form.textfield property="fieldToUseInSearchMask" /><br />
<label for="fieldToUseInHeadline">
	<f:translate key="tx_t3locations_domain_model_location.field_to_use_in_headline" />
</label><br />
	<f:form.textfield property="fieldToUseInHeadline" /><br />
<label for="userDefinedHeadline">
	<f:translate key="tx_t3locations_domain_model_location.user_defined_headline" />
</label><br />
	<f:form.textfield property="userDefinedHeadline" /><br />
<label for="contactPerson">
	<f:translate key="tx_t3locations_domain_model_location.contact_person" />
</label><br />
	<f:form.textfield property="contactPerson" /><br />
<label for="address">
	<f:translate key="tx_t3locations_domain_model_location.address" />
</label><br />
	<f:form.textarea property="address" cols="40" rows="15" /><br />
<label for="zip">
	<f:translate key="tx_t3locations_domain_model_location.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="city">
	<f:translate key="tx_t3locations_domain_model_location.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="phone">
	<f:translate key="tx_t3locations_domain_model_location.phone" />
</label><br />
	<f:form.textarea property="phone" cols="40" rows="15" /><br />
<label for="facsimile">
	<f:translate key="tx_t3locations_domain_model_location.facsimile" />
</label><br />
	<f:form.textarea property="facsimile" cols="40" rows="15" /><br />
<label for="mobile">
	<f:translate key="tx_t3locations_domain_model_location.mobile" />
</label><br />
	<f:form.textarea property="mobile" cols="40" rows="15" /><br />
<label for="email">
	<f:translate key="tx_t3locations_domain_model_location.email" />
</label><br />
	<f:form.textarea property="email" cols="40" rows="15" /><br />
<label for="web">
	<f:translate key="tx_t3locations_domain_model_location.web" />
</label><br />
	<f:form.textarea property="web" cols="40" rows="15" /><br />