
<table class="tx-t3locations" >
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_location.title" />
		</td>
		<td>
		{location.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_location.logo" />
		</td>
		<td>
				<f:image src="{location.logo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_location.freetext" />
		</td>
		<td>
		{location.freetext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_location.field_to_use_in_search_mask" />
		</td>
		<td>
		{location.fieldToUseInSearchMask}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_location.field_to_use_in_headline" />
		</td>
		<td>
		{location.fieldToUseInHeadline}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_location.user_defined_headline" />
		</td>
		<td>
		{location.userDefinedHeadline}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_location.contact_person" />
		</td>
		<td>
		{location.contactPerson}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_location.address" />
		</td>
		<td>
		{location.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_location.zip" />
		</td>
		<td>
		{location.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_location.city" />
		</td>
		<td>
		{location.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_location.phone" />
		</td>
		<td>
		{location.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_location.facsimile" />
		</td>
		<td>
		{location.facsimile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_location.mobile" />
		</td>
		<td>
		{location.mobile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_location.email" />
		</td>
		<td>
		{location.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3locations_domain_model_location.web" />
		</td>
		<td>
		{location.web}
		</td>
	</tr>
</table>