<f:if condition="{location.fieldToUseInHeadline} != 4">
	<h2>
		<f:if condition="{location.flagIconSource}">
			<f:image src="{location.flagIconSource.0}" class="t3locations-flag" alt="{location.flagIconSource.1}" title="{location.flagIconSource.2}" />
		</f:if>
		&nbsp;<f:format.html parseFuncTSPath="lib.parseFunc">{location.headline}</f:format.html> &nbsp;
		<small class="no-line-break">[{location.type.title}]</small>
	</h2>
</f:if>
<f:if condition="{location.logo}">
	<f:image src="{location.logo.uid}" class="logo" alt="{location.title}" width="200m" height="100m" treatIdAsReference="1" /><br />
</f:if>
<f:if condition="{location.freetext}"><br /><span class="t3locations-sectors"><f:translate id="output.business_sectors" extensionName="T3locations" />:<br /><span class="text-primary">{location.freetext}</span></span></f:if>
<hr />
<f:format.nl2br><f:format.html parseFuncTSPath="lib.parseFunc">{location.parsedPropertyAddress}</f:format.html></f:format.nl2br>
<f:if condition="{location.coverage -> f:count()}">
	<br /><small><em><f:translate id="output.coverage_prepend" extensionName="T3locations" /><f:for each="{location.coverage}" as="country" iteration="iterator"><f:if condition="{iterator.isFirst -> f:s3b0.negate()}"><f:if condition="{iterator.isLast}"><f:then> <f:translate id="conjunction.and" extensionName="T3locations" /> </f:then><f:else>, </f:else></f:if></f:if><f:if condition="{country} == {region}"><f:then><span class="text-primary">{country.title}</span></f:then><f:else>{country.title}</f:else></f:if></f:for> <f:translate id="output.coverage_append" extensionName="T3locations" /></em></small>
</f:if>
<br /><br />
<f:if condition="{0:location.phone,1:location.mobile,2:location.facsimile,3:location.email->f:count(),4:location.web->f:count()} != {0:'',1:'',2:'',3:0,4:0}">
	<table class="contact-data table table-condensed table-hover">
		<tbody>
			<f:if condition="{location.phone}">
				<tr><td><i class="fa fa-phone fa-fw tel" title="{f:translate(id : 'output.title_phone', extensionName: 'T3locations')}"></i> </td><td><span class="tel"><f:format.nl2br>{location.phone}</f:format.nl2br></span></td></tr>
			</f:if>
			<f:if condition="{location.mobile}">
				<tr><td><i class="fa fa-mobile-phone fa-fw" title="{f:translate(id : 'output.title_mobile', extensionName: 'T3locations')}"></i> </td><td><span class="mobile"><f:format.nl2br>{location.mobile}</f:format.nl2br></span></td></tr>
			</f:if>
			<f:if condition="{location.facsimile}">
				<tr><td><i class="fa fa-print fa-fw fax" title="{f:translate(id : 'output.title_facsimile', extensionName: 'T3locations')}"></i> </td><td><span class="fax"><f:format.nl2br>{location.facsimile}</f:format.nl2br></span></td></tr>
			</f:if>
			<f:if condition="{location.emailList -> f:count()}">
				<tr><td><i class="fa fa-envelope fa-fw" title="{f:translate(id : 'output.title_email', extensionName: 'T3locations')}"></i> </td><td>
					<f:for each="{location.emailList}" as="email">
						<f:format.html parseFuncTSPath="lib.parseFunc"><link {email}></link></f:format.html><br />
					</f:for>
				</td></tr>
			</f:if>
			<f:if condition="{location.webList -> f:count()}">
				<tr><td><i class="fa fa-globe fa-fw" title="{f:translate(id : 'output.title_web', extensionName: 'T3locations')}"></i> </td><td>
					<f:for each="{location.webList}" as="web">
						<f:format.html parseFuncTSPath="lib.parseFunc"><link {web}></link></f:format.html><br />
					</f:for>
				</td></tr>
			</f:if>
		</tbody>
	</table>
	<f:if condition="{location.googleMaps.linkQueryParam}">
		<p><f:link.external uri="//maps.google.com/?q={location.googleMaps.linkQueryParam}" target="_blank"><i class="fa fa-flag fa-fw"></i> <f:translate id="output.map_link_text" extensionName="T3locations" /></f:link.external></p>
	</f:if>
</f:if>

<f:if condition="{location.googleMaps.coordinates}">
	<!-- Geo-Location -->
	<span class="geo">
		<span class="latitude"><span class="value-title" title="{location.googleMaps.coordinates.0}" ></span></span>
		<span class="longitude"><span class="value-title" title="{location.googleMaps.coordinates.1}"></span></span>
	</span>
</f:if>

<f:if condition="{location.socialMedia -> f:count()}">
	<!-- Social Media -->
	<div class="social-media">
		<f:for each="{location.socialMedia}" as="socialMediaLink">
			<f:render partial="SocialMediaLink/Properties" arguments="{socialMediaLink : socialMediaLink}" />
		</f:for>
	</div>
</f:if>