<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages renderMode="div" />

	<table class="table table-collapsed">
		<f:for each="{territories}" as="territory">
			<tr>
				<td>
					<f:if condition="{territory.regionAmount}">
						<f:then><f:link.action action="list" controller="Region" arguments="{territory: territory}" class="btn btn-primary btn-block">{territory.title} <f:if condition="{territory.regionAmount}">&nbsp;<span class="badge">{territory.regionAmount}</span></f:if></f:link.action></f:then>
						<f:else><a class="btn btn-primary btn-block">{territory.title} <f:if condition="{territory.regionAmount}">&nbsp;<span class="badge">{territory.regionAmount}</span></f:if></a></f:else>
					</f:if>
				</td>
			</tr>
		</f:for>
	</table>

</f:section>